.Header{
    display: flex;
    justify-content: space-between;
    background-color: #272822;
    color: white;
    align-items: center;
}
.span1{
    margin-left: 25px;
}
.span2{
    margin-right: 25px;
}