
.form-style{
  width: 100%;
  margin-top: 2em;
}

.title-style{
  font-weight: bold;
  text-align: center;
  margin: 20px 0px;
}

.input-style{
  width: 80%;
  border-radius: 20px;
  padding: 10px 20px;
  margin: 20px 0;
  border: solid rgb(148, 148, 148) 2px;
  background-color: rgb(223, 223, 223);
}

.button-style{
  width : 200px;
  height: 200px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 2em;
  color: white;
  text-align: center;
  padding: 20px 20px;
  border-radius: 50%;
  background-color: rgb(255, 50, 50);
  margin: 20px 0px;
}

label{
  width: 90%
}