.questionContainer{
    background-color: rgba(91, 91, 92, 0.35);;
    border-radius: 15px;
    margin-top: 150px;
}
.btn {
    border-color: rgb(92, 92, 92) !important;
    border-style: solid !important;
    border-width: 1px !important;
}
.Question{
    color: white;
}

.btn-next {
    margin-top : 30px ;
}

h4.question {
    margin : 0px 10rem;
    line-height: 2rem;
}

@media (max-width:749px){
  div.questionContainer.container {
      margin-top : 20px ;
      max-width: 90%;
  }
  .btn-next {
      margin-top : 15px ;
  }
  .questionContainer.h2, .questionContainer h2 {
      font-size : 1.4rem;
  }
  .questionContainer.h3, .questionContainer h3 {
      font-size : 1.2rem;
  }
  .questionContainer.h4, .questionContainer h4 {
      font-size : 1.1rem;
  }
  .questionContainer hr {
    margin-top: 0.2rem;  
    }
  h4.question {
    margin : 0px 0.3rem;
    line-height: 1.5rem;
}
}

/* @media (min-width:750px){
  .questionContainer {
      margin-top : 50px
  }
} */