.questionContainer{
    background-color: rgba(91, 91, 92, 0.281);;
    border-radius: 15px;
    margin-top: 150px;
}
.btn {
    border-color: rgb(92, 92, 92) !important;
    border-style: solid !important;
    border-width: 1px !important;
}
.Question{
    color: white;
}